.navbar {
  width: var(--app-navbar-w);
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid
  light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-md);
}

.link {
  width: var(--app-navbar-item);
  height: var(--app-navbar-item);
  
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  text-decoration: none;
  transition: background-color 120ms ease, color 120ms ease;
}

.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );
}

.link[data-active] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
}

.link[data-active]:hover {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
}

.link:focus-visible {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
}